body,
html {
  background: transparent;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

* {
  -webkit-user-select: none;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: default;
}

.widget {
  position: absolute;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}

.widget-chrome {
  border: 1px solid transparent;
  box-sizing: border-box;
  pointer-events: none;
}

.widget-chrome .sticky-edge {
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
}

.widget-chrome .sticky-edge:hover {
  background: rgba(40, 158, 214, 0.3);
}

.widget-chrome .sticky-edge.active,
.widget-chrome .sticky-edge.active:hover {
  background: rgba(40, 158, 214, 0.9);
}

.widget-chrome .sticky-edge.top,
.widget-chrome .sticky-edge.bottom {
  left: 50%;
  margin-left: -5.5px;
}

.widget-chrome .sticky-edge.top {
  top: -6px;
}

.widget-chrome .sticky-edge.bottom {
  bottom: -6px;
}

.widget-chrome .sticky-edge.left,
.widget-chrome .sticky-edge.right {
  top: 50%;
  margin-top: -5.5px;
}

.widget-chrome .sticky-edge.left {
  left: -6px;
}

.widget-chrome .sticky-edge.right {
  right: -6px;
}

