body,
html {
  background: transparent;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  cursor: default;
}

.widget {
  position: absolute;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}

.widget-chrome {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.widget-chrome .sticky-edge {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
}

.widget-chrome .sticky-edge.top,
.widget-chrome .sticky-edge.bottom {
  left: 50%;
  margin-left: -5px;
}

.widget-chrome .sticky-edge.top {
  top: -10px;
}

.widget-chrome .sticky-edge.bottom {
  bottom: -10px;
}

.widget-chrome .sticky-edge.left,
.widget-chrome .sticky-edge.right {
  top: 50%;
  margin-top: -5px;
}

.widget-chrome .sticky-edge.left {
  left: -10px;
}

.widget-chrome .sticky-edge.right {
  right: -10px;
}

